.head {
    background-color: rgb(31, 26, 26);
    height: 90px;
    margin-top: -20px;
    margin-left: -9px;
    margin-right: -9px;
    padding-left: 130px;
    position: sticky;
    flex-direction: row;
    display: flex;
}

.head h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    padding-top: 15px;
}

.Profile {
    padding-left: 550px;
    padding-top: 20px;
    color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1px;
}

.Activity {
    color: aliceblue;
    padding-left: 70px;
    padding-top: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1px;
}

.Certificates {
    color: aliceblue;
    padding-left: 70px;
    padding-top: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1px;
}

.Contact {
    color: aliceblue;
    padding-left: 70px;
    padding-top: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 0.7px;
}
.Contact h3 {
    color: rgb(40, 34, 34);
    background-color: rgb(218, 157, 17);

    border-radius: 10px;
    padding: 10px;
}

.page-1 {
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    width: 2000px;
    height: 600px;
    margin-left: -9px;
    display: flex;
}


.About{
    background-color: black;
}
.Hi {
    padding-left: 200px;
    padding-top: 180px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(19, 19, 19);
    line-height: 0px;
    font-size: x-large;
    display: flex;
    flex-direction: column;
}

.Hi h1{
    
}

.image img {
    width: 960px;
    height: 550px;
    padding-left: 50px;
    padding-top: 36px;
}

.page-2{
    background-color:rgb(248, 182, 68);
    width: 1800px;
    height: 1000px;
    margin-left: -9px;
    margin-right: -9px;
    display: flex;
    flex-direction: row;
}

.Nuutor-img{
    padding-left: 80px;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
}
.Nuutor-img img{
    width: 700px;
    height: 400px;
    border: solid black;
    border-radius: 20px;

}

.Nuutor-img iframe {
    margin-top: 40px;
    width: 700px;
    height: 400px;
    border: solid black;
    border-radius: 20px;
}

.description {
    padding-top: 100px;
    padding-left: 75px;
    margin-right: 350px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    flex-direction: column;
}

.Nuu-head {
    padding-left: 165px;
}
